# Ignore the vdtg-rmm.config file, only the example file should be tracked by git because it contains sensitive information
vdtg-rmm.config

# Ignore the applications directory
applications/

# Ignore the reboot-required file
reboot-required

# Ignore the displaylink-debian directory
displaylink-debian/

# Ignore the ckb-next directory
ckb-next/

# Ignore the cuda-keyring.deb file
cuda-keyring.deb