# Set locale, for now only Dutch (nl) is an option
locale=nl
# Auto update OS
update_os=false
# Install git
install_git=true
# Install net-tools
install_net-tools=true
# Install iputils_ping
install_iputils_ping=true
# Enable cron
cron_enable=true
# Auto update application
update_app=true
# Auto reboot after updating OS
update_reboot=false
# Install Docker
install_docker=false
# Install Portainer
install_portainer=false
# Install Lancache
install_lancache=false
# Auto update Lancache
update_lancache=false