# Set locale, for now only Dutch (nl) is an option
locale=nl
# Auto update
update_auto=false
# Install git
install_git=true
# Install net-tools
install_net_tools=false
# Install iputils_ping
install_iputils_ping=false
# Install traceroute
install_traceroute=false
# Enable cron
cron_enable=true
# Install runescape-dragonwilds_dedicated-server
install_runescape_dragonwilds_dedicated_server=false
# Install steamcmd
install_steamcmd=false
# Install eco_dedicated-server
install_eco_dedicated_server=false
# Define eco_dedicated-server userToken
eco_dedicated_server_userToken=
# Install DisplayLink driver
install_displaylink_driver=false
# Set Intel driver to modesetting
intel_modesetting=false
# Install Zoho Assist Remote Support
install_zoho_assist_remote_support=false
# Auto reboot if needed
reboot_auto=false
# Install Microsoft VSCode
install_vscode=false
# Install Remmina (with MSRDP support)
install_remmina=false
# Install Linux Mint Multimedia Support (if on LMDE)
install_lmde_multimedia_support=true
# Enable UFW (firewall)
ufw_enable=true
# Install Spotify Client
install_spotify_client=true
# Install Linux Mint Language Packs (if on LMDE)
install_lmde_language_packs=true
# Install FileZilla Client
install_filezilla_client=true
# Install ckb-next (Corsair iCUE drivers)
install_ckb_next=false
# Install NVIDIA CUDA drivers
install_cuda_drivers=false