# Set locale, for now only Dutch (nl) is an option
locale=nl
# Auto update
update_auto=false
# Install git
install_git=true
# Install net-tools
install_net-tools=true
# Install iputils_ping
install_iputils_ping=true
# Enable cron
cron_enable=true
# Install runescape-dragonwilds_dedicated-server
install_runescape-dragonwilds_dedicated-server=false
# Install steamcmd
install_steamcmd=false
# Install eco_dedicated-server
install_eco_dedicated-server=false
# Define eco_dedicated-server userToken
eco_dedicated-server_userToken=